.wy-nav-content {
    max-width: none;
}

.wy-side-nav-search > div.version {
    color: gold;
    font-weight: bold;
}

.wy-side-nav-search .wy-dropdown > a, .wy-side-nav-search > a {
    font-size: 17px;
    margin-bottom: 5px;
}

div.document {
    max-width: 800px;
}