@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
body{font-family: 'Open Sans', sans-serif; font-size: 15px;}
.logo-image{max-width: initial;}
.simple li p, table p{margin-bottom: 0px;}
.myfooter{padding: 15px;}
.admonition-title{font-weight: bold;}
h1{font-size: 25px;}
h2, .toc-title-project{font-size: 20px;}